<div class="gdata">

    <h1>{{data.name}}</h1>

    <hr>
    
    <div>
        {{#if data.image}}
        <img class="gdata-info" alt="{{data.name}}" src="{{data.image}}" id="game_img"/>
        {{else}}
        <img class="gdata-info" alt="Image Not Found" src="/public/images/image_not_available.jpg" id="game_img"/>
        {{/if}}
        <div class="gdata-info">Genre: {{data.genre}}</div> 

        <div class="gdata-info">Size: {{data.size}}</div> 
       
        <div class="gdata-info">Compatibility: {{data.compatibility}}</div> 
     
        <div class="gdata-info">Languages: {{data.languages}}</div> 
  
        <div class="gdata-info">Age Rating: {{data.age_rating}}</div> 
 
        <div class="gdata-info">Website: {{data.website}}</div> 

        <div class="gdata-info">Price: ${{data.price}}</div> 
        {{#if userLoggedIn}}
            {{!-- {{#if userAdmin}} --}}
            <form action="/payment/{{data._id}}" method="GET">
                <input type="submit" class="buy" value="Buy">
            </form>
            {{!-- {{/if}} --}}
        {{/if}}
        <hr>

        <div class="gdata-info">Average Rating: {{average_rating}}/10</div> 
         {{#if userLoggedIn}}
            <form action="/reviews/add/{{data._id}}" method="POST">
                {{!-- <input type="hidden" name="user_id" value={{user_session}}> --}}

                <div>
                    <div class="gdata-info">
                        <label>
                            Image:<input class="rv" type="file" name="image">
                        </label>
                    </div>

                    <div class="gdata-info">
                        <label>
                            Comment: <input class="rv" type="text" name="comment" placeholder="Write a review here">
                        </label>
                    </div>

                    <div class="gdata-info">
                        <label>
                            Rating: <input class="rv" type="number" name="rating" placeholder="Rating" max="10" min="1">
                        </label>
                    </div>


                </div>
               
                <input class="buy" type="submit" value="Post">
            </form>
         {{/if}}
        <div class="gdata-info">Reviews:</div>
        {{#if reviews}}
        {{#each reviews}}
            <img src="">
            <p><h4>Username:<span>{{username}}</span></h4>Rating by user:{{rating}}</p>
            <p>{{review}}</p>
        {{/each}}
        {{else}}
        <p>Currently, There are no reviews for this game.</p>
        {{/if}}
    </div>

</div> 



