<div class="order">

    <h1>Your Order</h1>
    
    <hr>

    <div>
        <div class="order-item" >{{game.name}}</div>
    </div>
    
   
    <div>
        <div class="order-price">Price: {{price}}</div>
        <div class="order-price">Tax: 8%</div>
        <hr>
        <div class="order-price">TOTAL: {{total_price}}</div>
    </div>
    
    <form action="/payment/success" method="post">
    <input type="hidden" value={{game._id}} name="game_id">
    <input type="hidden" value={{user_id}} name="user_id">
    <input type="submit" class="buy" value="Continue Purchase"/>
    </form>

</div>