<div class="order">

    <h1>Your Order</h1>
    
    <hr>

    <dl>
        <dt class="order-item" >{{game.name}}</dt>
    </dl>
    
   
    <dl>
        <dt class="order-price">Price: {{price}}</dt>
        <dt class="order-price">Tax: 8%</dt>
        <hr>
        <dt class="order-price">TOTAL: {{total_price}}</dt>
    </dl>
    
    <form action="/payment/success" method="post">
    <input type="hidden" value={{game._id}} name="game_id">
    <input type="hidden" value={{user_id}} name="user_id">
    <input type="submit" class="buy" value="Continue Purchase"/>
    </form>

</div>