<div class="col-xs-12 col-sm-12 col-md-12 profile">

    <h1>Account Details</h1>  

    <dl> 
        <dt class="profile-info">First Name: {{data.first_name}}<dt> 
        

        <dt class="profile-info">Last Name: {{data.last_name}}<dt> 
       

        <dt class="profile-info">Username: {{data.username}}<dt> 
     

        <dt class="profile-info">Age: {{data.age}}<dt> 
  

        <dt class="profile-info">Email: {{data.email}}<dt> 

        <dt class="profile-info">Address: {{data.state}}, {{data.country}}<dt> 

        {{!-- <dt class="profile-info">Password: {{data.first_name}}dt>  --}}


        {{!-- <dt class="profile-info">Administrative Account: {{data.first_name}}<dt>  --}}
     
    </dl>
    <hr>
    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2 id="box">List of Games:</h2>
        <br>
        {{#each games}} 
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card">
            <a href="/games/{{_id}}">
            <img src="/public/images/image_not_available.jpg" alt="Avatar" class="card-image">
            <div class="card-container">
                <h3><b>{{name}}</b></h3> 
                {{!-- {{#each genre }}<p>{{i}}</p>{{/each}} --}}
            </div>
            </a>
            </div>
        </div>
        {{/each}}
    </div>

</div>